.bg-pink {
    background-color: #ffeaef !important;
  }

.bg-darker-pink {
    background-color: #ffdde7;
}

.bg-gray {
    background-color: #F5F5F5;
}

.navbar .form-inline {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .navbar .form-inline .form-control {
    display: flex;
    width: 30%;
  }