{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-pink sticky-top">

    <a href="#" class="navbar-brand">
      <img src="{% static 'interview_review_app/img/logo.png' %}" width="30" height="30" alt="logo">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="#" class="nav-link">Компании</a>
        </li>
        <li class="nav-item ">
          <a href="#" class="nav-link">Вакансии</a>
        </li>
      </ul>

      <form class="form-inline mx-auto">
        <input class="form-control bg-darker-pink" type="search" placeholder="Поиск">
      </form>

      <a href="#" class="btn btn-light border-0 shadow-sm mr-2">Создать</a>
      <a href="#" class="btn btn-light border-0 shadow-sm mr-2">Вход</a>
      <a href="#" class="btn btn-light border-0 shadow-sm mr-2">Регистрация</a>
    </div>
  </nav>