{% extends 'base.html' %}
{% load static %}

{% block title %}Главная страница моего блога{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card rounded mb-4 shadow-sm" style="width: 100%;">
            <img src="{% static 'blog/img/img_1.jpeg' %}" alt="" class="card-img-top">
            <div class="card-body">
                <h4 class="card-title">Заголовок</h4>
                <p class="card-text">Это красткое описание поста. Это красткое описание поста. Это красткое описание поста. </p>
                <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="#" class="btn btn-sm btn-outline-secondary">Подробнее</a>
                </div>
                <small class="text-muted">22.10.2020</small>
                </div>
            </div>
            </div>
      </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card mb-4 shadow-sm" style="width: 100%;">
            <img src="{% static 'blog/img/img_1.jpeg' %}" alt="" class="card-img-top">
            <div class="card-body">
                <h4 class="card-title">Заголовок</h4>
                <p class="card-text">Это красткое описание поста. Это красткое описание поста. Это красткое описание поста. </p>
                <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="#" class="btn btn-sm btn-outline-secondary">Подробнее</a>
                </div>
                <small class="text-muted">22.10.2020</small>
                </div>
            </div>
            </div>
      </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card mb-4 shadow-sm" style="width: 100%;">
            <img src="{% static 'blog/img/img_1.jpeg' %}" alt="" class="card-img-top">
            <div class="card-body">
                <h4 class="card-title">Заголовок</h4>
                <p class="card-text">Это красткое описание поста. Это красткое описание поста. Это красткое описание поста. </p>
                <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="#" class="btn btn-sm btn-outline-secondary">Подробнее</a>
                </div>
                <small class="text-muted">22.10.2020</small>
                </div>
            </div>
            </div>
      </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card mb-4 shadow-sm" style="width: 100%;">
            <img src="{% static 'blog/img/img_1.jpeg' %}" alt="" class="card-img-top">
            <div class="card-body">
                <h4 class="card-title">Заголовок</h4>
                <p class="card-text">Это красткое описание поста. Это красткое описание поста. Это красткое описание поста. </p>
                <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="#" class="btn btn-sm btn-outline-secondary">Подробнее</a>
                </div>
                <small class="text-muted">22.10.2020</small>
                </div>
            </div>
            </div>
      </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card mb-4 shadow-sm" style="width: 100%;">
            <img src="{% static 'blog/img/img_1.jpeg' %}" alt="" class="card-img-top">
            <div class="card-body">
                <h4 class="card-title">Заголовок</h4>
                <p class="card-text">Это красткое описание поста. Это красткое описание поста. Это красткое описание поста. </p>
                <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="#" class="btn btn-sm btn-outline-secondary">Подробнее</a>
                </div>
                <small class="text-muted">22.10.2020</small>
                </div>
            </div>
            </div>
      </div>
    </div>
</div>

{% endblock %}

    </nav>
    <br>
